.page-header
  %h1= t('.users')
- if @users.present?
  %br/
  %br/
  %table.table.table-stripped.table-hover
    %thead
      %tr
        %th= t('.thead.login')
        %th{width: 20}
        %th{width: 10}
        %th{width: 10}
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to "#{user.login}", user_page_path(user.login)