.welcome
  .row.action-container
    .col-lg-12
      = image_tag "guitar-welcome.svg", :class => 'guitar-welcome'
      %h1 Jam With Your Band Online

      %p #{link_to "Sign up for free", new_user_registration_path, class: 'btn btn-success btn-lg'}
      %p 
        Already a member?
        %br 
        = link_to "Sign in", new_user_session_path
        \/
        = link_to "Recover password", new_user_password_path